---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// override theme variables
$sans-serif                 : 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;

$primary-color              : #ed0606 !default;
$success-color              : #62c462 !default;
$warning-color              : #f89406 !default;
$danger-color               : #ee5f5b !default;
$info-color                 : #52adc8 !default;

@import "minimal-mistakes";

// logo
.head-logo {
  font-size: 2em;
  font-weight: bold;
  color: $primary-color;
  background: white;

  > span {
    color: white;
    background: $primary-color;
  }

  > small {
    font-size: 0.5em;
    margin-left: 2px;
  }
}

// homepage
article.splash > section.page__content > .feature__wrapper:first-child {
  background-image: url(/assets/images/hands.png);
  background-position: bottom left;

  > * {
    background: rgba(255,255,255,0.9); /* fade background */
    background: linear-gradient(to right, rgba(255,255,255,0.8), white, white);
  }
}

.homepage-row {
  margin-right: 100px;

  > .homepage-cell-1 {
    float: left;
    width: 50%;
    padding-right: 50px;
  }
  > .homepage-cell-2 {
    float: right;
    width: 49%;
  }

  .archive__subtitle {
    margin-top: 0;
  }
  .list__item {
    padding-right: 0;
    font-size: 0.926em;
  }
}

.homepage-topcaption {
  font-size: 80%;
  line-height: 1;
  padding-top: 0.5ex;
  color: $dark-gray;
  text-align: center;
  margin: 0 3em;
}

// slightly cleaner footer
.page__footer-follow {
  float: left;
}
.page__footer-copyright {
  float: right;
  padding-top: 7px;
}
